.tooltip-wrapper {
   position: absolute;
  top: 0rem;
  right: 0rem;
}

.tooltip-bubble {
  position: absolute;
  background: #333;
  color: #fff;
  padding: 0.35rem 0.5rem;
  border-radius: 6px;
  font-size: 0.75rem;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(-6px);
  pointer-events: none;
  transition: all 0.2s ease;
  z-index: 10;
  visibility: hidden;
}

.tooltip-wrapper:hover .tooltip-bubble {
  opacity: 1;
  transform: translateY(-12px);
  visibility: visible;
}

.tooltip-top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0.4rem;
}
